#about-section,
#projects-section,
#contact-section {
  display: grid;
  grid-template-columns: 2rem auto 2rem;
}

#about-section {
  &::before, &::after {
    content: '';
    background-color: $rich-black;
    grid-row: 3 / 4;
  }
  
  &::before {
    grid-column: 1 / 2;
  }
  
  &::after {
    grid-column: 3 / 4;
  }
}

#sticker,
#about,
#skills,
#projects,
#contact {
  grid-column: 2 / 3;
}

#sticker {
  height: 100vh;
  padding: 9rem 0 4.5rem;
}

@media screen and (min-width: 600px) {
  section {
    height: 100vh;
  }

  #about-section {
    grid-template-columns: 2rem repeat(2, 1fr) 2rem;
    grid-template-rows: auto 9rem;

    &::before, &::after {
      grid-row: 2 / 3;
    }

    &::before {
      grid-column: 1 / 2;
    }

    &::after {
      grid-column: 4 / 5;
    }
  }

  #sticker {
    height: auto;
    grid-column: 2 / 3;
    padding: 4.5rem 0 0 0;
  }

  #about {
    grid-column: 3 / 4;
    padding-top: 4.5rem;
  }

  #skills {
    grid-column: 2 / 4;
  }
}

@media screen and (min-width: 1344px) {
  $max-container-width: 1280px;
  $gutter-width: calc((100vw - $max-container-width) / 2);

  #about-section {
    grid-template-columns: $gutter-width repeat(2, 1fr) $gutter-width;
  }

  #projects-section,
  #contact-section {
    grid-template-columns: $gutter-width auto $gutter-width;
  }
}