main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9, 1fr);
  margin-top: 4.5rem;
}

// #div1 {
//   background-color: $fire-opal;
// }

// #about {
//   background-color: $tuscan-red;
// }

#div3 {
  background-color: $rich-black;
}

// #div4 {
//   background-color: $fire-opal;
// }

// #div5 {
//   background-color: $tuscan-red;
// }

// #div6 {
//   background-color: $fire-opal;
// }

// #div7 {
//   background-color: $copper-red;
// }

// #div8 {
//   background-color: $hookers-green;
// }

// #div9 {
//   background-color: $fire-opal;
// }

@media screen and (min-width: 600px) {
  $max-container-width: 1280px;
  $gutter-width: calc((100vw - $max-container-width) / 2);

  main {
    grid-template-columns: $gutter-width repeat(6, 1fr) $gutter-width;
    grid-template-rows: auto 6rem 15rem 15rem 3rem;
  }

  #sticker {
    grid-column: 2 / 4;
  }
  
  #about {
    grid-column: 5 / 8;
  }
  
  #div3 {
    grid-column: 1 / 9;
  }
  
  #div4 {
    grid-column: 2 / 4;
  }
  
  #div5 {
    grid-column: 4 / 6;
  }
  
  #div6 {
    grid-column: 6 / 8;
  }
  
  #div7 {
    grid-column: 2 / 5;
  }
  
  #div8 {
    grid-column: 5 / 8;
  }
  
  #div9 {
    grid-column: 2 / 8;
  }
}